.allUp{
    width: 82%;
    float: right;
    margin-left: 5%;
    margin-top:5% ;
}
.tituloI{
    width: 50%;
    height: 5vh;
   background-color:  #ffffff;
   border: 2px solid #ffffff;
   border-radius: 6px;
}
.fics{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
      width: 90%;
    height: 26vh;
    border: solid 2px  #ffffff;
    background-color: #d0d0d0;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 5%;
}

.btnC{
      width: 90%;
    height: 6vh;
    background-color:#585858;
    border-radius: 8px;
    color: #ffffff;

}
.btnC:hover{
    background-color: #7c8183;
}
.cima{
    width: 90%;
    height: 16vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d0d0d0;
    
}
.cima p{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}
.fics p{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}